{namespace Ex=Documentation\Examples\ViewHelpers}

<f:layout name="Module" />

<f:section name="header">
	<Ex:be.header />
</f:section>

<f:section name="module-headline">
	<h1><f:translate key="function_links" /></h1>
</f:section>

<f:section name="main">
	<p><f:translate key="function_links_intro" /></p>
	<p>
		<Ex:be.editLink parameters="edit[pages][1]=edit" returnUrl="mod.php?M=tools_ExamplesExamples&tx_examples_tools_examplesexamples[action]=links" title="{f:translate(key: 'function_links_edit_page_1')}">
			<Ex:be.icon icon="actions-document-open" title="{f:translate(key: 'function_links_edit_page_1')}" />
			<f:translate key="function_links_edit_page_1" />
		</Ex:be.editLink>
	</p>
	<p>
		<Ex:be.editLink parameters="edit[pages][1]=edit&columnsOnly=title,hidden" returnUrl="mod.php?M=tools_ExamplesExamples&tx_examples_tools_examplesexamples[action]=links" title="{f:translate(key: 'function_links_edit_page_1_restricted')}">
			<Ex:be.icon icon="actions-document-open" title="{f:translate(key: 'function_links_edit_page_1_restricted')}" />
			<f:translate key="function_links_edit_page_1_restricted" />
		</Ex:be.editLink>
	</p>
	<p>
		<Ex:be.editLink parameters="&edit[tx_examples_haiku][1]=new&defVals[tx_examples_haiku][title]=New%20haiku" returnUrl="mod.php?M=tools_ExamplesExamples&tx_examples_tools_examplesexamples[action]=links" title="{f:translate(key: 'function_links_new_haiku')}">
			<Ex:be.icon icon="actions-document-new" title="{f:translate(key: 'function_links_new_haiku')}" />
			<f:translate key="function_links_new_haiku" />
		</Ex:be.editLink>
	</p>
</f:section>