{namespace Ex=Documentation\Examples\ViewHelpers}

<f:layout name="Module" />

<f:section name="header">
	<Ex:be.header />
</f:section>

<f:section name="module-headline">
	<h1><f:translate key="function_log" /></h1>
</f:section>

<f:section name="main">
	<p><f:translate key="function_log_intro" /></p>
	<f:form action="log" name="loggingForm" method="post">
		<p>
			<f:form.submit value="{f:translate(key:'function_log_create')}" name="log-entries" class="log-button" />
		</p>
	</f:form>
</f:section>