{namespace Ex=Documentation\Examples\ViewHelpers}

<f:layout name="Module" />

<f:section name="header">
	<Ex:be.header />
</f:section>

<f:section name="module-headline">
	<h1><f:translate key="function_tree" /></h1>
</f:section>

<f:section name="main">
	<p><f:translate key="function_tree_intro" /></p>

	<table class="typo3-dblist">
		<tr class="t3-row-header">
			<td>Icon / Title:</td>
			<td>Page UID:</td>
		</tr>
		<f:for each="{tree}" as="page">
			<tr class="db_list_normal">
				<td><f:format.raw>{page.HTML}</f:format.raw> {page.row.title}</td>
				<td>{page.row.uid}</td>
			</tr>
		</f:for>
	</table>
</f:section>