services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  T3docs\Examples\:
    resource: '../Classes/*'
    exclude: '../Classes/Domain/Model/*'

  T3docs\Examples\LinkValidator\LinkType\ExampleLinkType:
    tags:
      - name: linkvalidator.linktype

  T3docs\Examples\Controller\Haiku\DetailController:
    public: true

  T3docs\Examples\Controller\Haiku\ListController:
    public: true
    
  T3docs\Examples\LinkHandler\GitHubLinkHandler:
    shared: false
    public: true

  T3docs\Examples\DataProcessing\CustomCategoryProcessor:
    tags:
      - name: 'data.processor'
        identifier: 'custom-category'
