<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Module" />
<f:section name="Content">
<f:flashMessages/>

<h1>
	<f:translate key="function_debug"/>
</h1>

<p>
	<f:translate key="function_debug_intro"/>
</p>
<f:form action="debug" name="debuggingForm" method="post">
   <f:form.button name="cmd" value="cookies" type="submit" class="btn btn-primary">
      <f:translate key="function_debug_cookies"/>
   </f:form.button>
</f:form>
</f:section>
</html>
