<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Module" />
<f:section name="Content">
<f:flashMessages/>

<h1>
	<f:translate key="function_fileReference"/>
</h1>

<p>
	<f:translate key="function_fileReference_intro"/>
</p>
   <f:comment>
   <!--

   TODO: fix this example
<f:form action="fileReferenceCreate" name="falForm" method="post">
	<div class="form-group">
		<label>
			<f:translate id="choose_content_element"/>
		</label>
		<f:form.select name="element" options="{elements}" optionValueField="uid" optionLabelField="header"
									 prependOptionValue="" prependOptionLabel="" class="form-control"/>
	</div>
	<div class="form-group">
		<label>
			<f:translate id="choose_file"/>
		</label>
		<f:form.select name="file" options="{files}" optionValueField="uid" optionLabelField="name" prependOptionValue=""
									 prependOptionLabel="" class="form-control"/>
	</div>
	<f:form.submit value="{f:translate(key:'create_relation')}" name="create" class="btn btn-default"/>
</f:form>
<f:if condition="{content}">
	<h3>
		<f:translate id="new_relation_confirmation"/>
	</h3>
	<p>
		<f:translate id="new_relation" arguments="{0: content.header, 1: content.uid}"/>
	</p>
	<ul>
		<f:for each="{references}" as="file">
			<li>{file.identifier}</li>
		</f:for>
	</ul>
</f:if>
-->
   </f:comment>
</f:section>
</html>
