<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Module"/>
<f:section name="Content">
   <f:flashMessages/>

   <h1>
      <f:translate id="function_flash"/>
   </h1>

   <p>
      <f:translate key="function_flash_intro"/>
   </p>
   <p>
      <f:translate key="function_flash_javascript"/>
   </p>
   <p>
      <f:link.action
         action="count"
         controller="Module"
         title=" {f:translate(key:'function_flash_pages')}"
         class="btn btn-default action-button">
         {f:translate(key:'function_flash_pages')}
      </f:link.action>
      <f:link.action
         action="count"
         controller="Module"
         arguments="{tablename:'tt_content'}"
         title=" {f:translate(key:'function_flash_pages')}"
         class="btn btn-default action-button">
         {f:translate(key:'function_flash_content_elements')}
      </f:link.action>
   </p>
</f:section>
</html>
