<html data-namespace-typo3-fluid="true"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
>
<f:layout name="Module" />
<f:section name="Content">
<h1>
	<f:translate key="function_links"/>
</h1>

<p>
	<f:translate key="function_links_intro"/>
</p>
<p>
   <f:render partial="Module/EditPage1Link.html" arguments="{_all}"/>
</p>
<p>
	<f:render partial="Module/EditPage2Link.html" arguments="{_all}"/>
</p>
<p>
	<a href="{editPagesDoktypeLink}">
		<core:icon identifier="actions-document-open"/>
		<f:translate key="function_links_edit_pages_doktype"/> (<f:translate key="function_links_returnUrl"/>)
	</a>
</p>
<p>
	<a href="{be:uri.newRecord(pid:1, table:'tx_examples_haiku', returnUrl:'foo/bar')}">
		<core:icon identifier="actions-document-new"/>
		<f:translate key="function_links_new_haiku"/>
	</a>
</p>
<p>
   <f:render partial="Module/CreateHaikuLink.html" arguments="{_all}"/>
</p>
</f:section>
</html>
