<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Module" />
<f:section name="Content">
<f:flashMessages/>

<h1>
   <f:translate key="function_password"/>
</h1>

<p>
   <f:translate key="function_password_intro"/>
</p>
<f:form action="password" name="getPasswordForm" method="post">
   <div class="form-group">
      <label>Mode</label>
      <f:form.select name="mode" options="{modes}" class="form-control"/>
   </div>
   <div class="form-group">
      <label>Password</label>
      <f:form.textfield name="password" value="{password}"/>
   </div>
   <div class="form-group">
      <label>Hash</label>
      <f:form.textfield name="hashedPassword" value="{hashedPassword}"/>
   </div>
   <f:form.submit value="Check" name="passwordAction" class="btn btn-default"/>
   <f:form.submit value="Get hash" name="passwordAction" class="btn btn-default"/>

   <f:if condition="{passwordAction} == 'Check'">
      <f:if condition="{success}">
         <f:then><div class="message">Correct password for the hash</div></f:then>
         <f:else><div class="message">Incorrect password for the hash</div></f:else>
      </f:if>
   </f:if>
</f:form>
</f:section>
</html>
